{% load static %} <!-- Chargement du script.js-->
{% if user.is_authenticated %}
  <p>Bonjour {{ user.username }} — 
    <form action="{% url 'logout' %}" method="post">
      {% csrf_token %}
      <button type="submit" style="background:none; border:none; color:blue; text-decoration:underline; cursor:pointer;">
        Se déconnecter
      </button>
    </form>
  </p>
{% else %}
  <p><a href="{% url 'login' %}">Connexion</a></p>
{% endif %}
<!DOCTYPE html>
<html lang="fr">
    <head>
        <link rel="stylesheet" href="{% static 'inventory/css/style.css' %}">
        <meta charset="UTF-8">
        <title>Gestion d'inventaire</title>
    </head>
<body>
    <h1>Bienvenue dans le système de gestion d'inventaire.</h1>
    <!-- Liste des articles gérer en admin -->
     <section>
        <h2>Nos articles disponibles :</h2>
            <ul id="product-list"> </ul>
     </section>
     <!-- Soumettre une demande, une ligne par demande  -->
      <section>
        <h2>Soumettre une demande :</h2>
        <form method="post" id="request-form">
            {% csrf_token %}
            <div id="request-lines"></div>
            <button type="button" id="add-line">Ajouter un article</button>
            <br><br>
            <button type="submit">Envoyer la demande</button>
        </form>
        <p id="message"></p>
      </section>
      <!-- Suivre les demandes -->
       <section>
        <h2>Suivre mes demandes :</h2>
        <ul>
            {% for demande in demandes %}
                <li>{{ demande.product.name }} — Quantité: {{ demande.quantity_requested }} — Statut: {{ demande.get_status_display }}</li>
            {% endfor %}
        </ul>
       </section>
      <!-- Chemin vers le script.js statique-->
     <script src="{% static 'inventory/js/script.js' %}"></script>
</body>
</html>