{% load static %} <!-- Chargement du script.js-->

<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Gestion d'inventaire</title>
    </head>
<body>
    <h1>Bienvenue dans le système de gestion d'inventaire</h1>

    <!-- Liste des produits -->
     <section>
        <h2>Articles disponibles</h2>
            <ul id="product-list"></ul>
     </section>

     <!-- Soumettre une demande -->
      <section>
        <h2>Soumettre une demande</h2>
        <form id="request-form">
            <label fort="product">Produit :</label>
            <select for="product-select" required></select><br><br>
            <label for="quantity">Quantité :</label>
            <input type="number" id="quantity" min="1" required><br><br>
            <button type="submit">Envoyer la demande</button>
        </form>
        <p id="message"></p>
      </section>

      <!-- Suivre les demandes -->
       <section>
        <h2>Mes demandes</h2>
        <ul id="request-list"></ul>
       </section>
      <!-- Chemin vers le script.js statique-->
      <script src="{% static 'inventory/script.js' %}"></script>
</body>
</html>