{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
<link rel="stylesheet" href="{% static 'inventory/css/style.css' %}">
    <meta charset="UTF-8">
    <title>Connexion</title>
</head>
<body class="login-page">
    <form method="post" class="login-form">
        <h1>Système de gestion d'inventaire</h1>
        <div class="connexion">
        {% csrf_token %}
        {% if form.errors %}
            <p class="error">Nom d’utilisateur ou mot de passe invalide.</p>
        {% endif %}

        <label for="id_username">Identifiant :</label>
        {{ form.username }}

        <label for="id_password">Mot de passe :</label>
        {{ form.password }}

        <button type="submit">Se connecter</button>
        </div>
    </form>
</body>
</html>
